# Web scraping assignment 4

# importing required libraries

In [2]:
import selenium 
from selenium import webdriver
import pandas as pd
from bs4 import BeautifulSoup
import requests
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.keys import Keys
import requests
import re

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia:

***Url= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:***

***A) Rank
B) Name
C) Artist
D) Upload date
E) Views***

In [2]:
#connecting to web driver
driver=webdriver.Chrome(r"c://chromedriver.exe")

In [3]:
#getting the webpage
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [4]:
#scrapping the required data
rank=[]
video_name=[]
uploader=[]
views_in_billion=[]
updated_date=[]
#scraping text for rank column
for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[1]"):
    rank.append(i.text.replace(".",""))
#scraping text for video name column    
for j in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[2]"):
    video_name.append(j.text)
#scraping text for artist column    
for k in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[3]"):
    uploader.append(k.text) 
#scraping text for views column    
for l in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[4]"):
    views_in_billion.append(l.text)
#scraping text for updated date column    
for m in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[5]"):
    updated_date.append(m.text)    
rank=rank[0:30]
video_name=video_name[0:30]
uploader=uploader[0:30]
views_in_billion=views_in_billion[0:30]
updated_date=updated_date[0:30]

In [5]:
#removing unwanted text from video_name list 
import re
def remove(list):
    pattern = '[0-9]'
    list = [re.sub(pattern, '', i) for i in list]
    return list
list= ['"Baby Shark Dance"[22]', '"Despacito"[24]', '"Shape of You"[25]', '"Johny Johny Yes Papa"[26]', '"See You Again"[27]','"Masha and the Bear – Recipe for Disaster"[30]',
 '"Uptown Funk"[31]', '"Gangnam Style"[32]', '"Learning Colors – Colorful Eggs on a Farm"[34]', '"Bath Song"[35]', '"Phonics Song with Two Words"[36]',
 '"Sugar"[37]', '"Sorry"[38]', '"Roar"[39]', '"Dame Tu Cosita"[40]', '"Counting Stars"[41]', '"Thinking Out Loud"[42]', '"Dark Horse"[43]',
 '"Shake It Off"[44]', '"Faded"[45]', '"Lean On"[46]', '"Bailando"[47]', '"Girls Like You"[48]', '"Let Her Go"[49]', '"Mi Gente"[50]',
 '"Wheels on the Bus"[51]', '"Hello"[52]', '"Perfect"[53]', '"Waka Waka (This Time for Africa)"[54]', '"Axel F"[55]']
video=remove(list)

In [6]:
#removing unwanted text from video_name list
video=['"Baby Shark Dance"[]', '"Despacito"[]', '"Shape of You"[]', '"Johny Johny Yes Papa"[]', '"See You Again"[]', '"Masha and the Bear – Recipe for Disaster"[]',
 '"Uptown Funk"[]', '"Gangnam Style"[]', '"Learning Colors – Colorful Eggs on a Farm"[]', '"Bath Song"[]', '"Phonics Song with Two Words"[]',
 '"Sugar"[]', '"Sorry"[]', '"Roar"[]', '"Dame Tu Cosita"[]', '"Counting Stars"[]', '"Thinking Out Loud"[]', '"Dark Horse"[]',
 '"Shake It Off"[]', '"Faded"[]', '"Lean On"[]', '"Bailando"[]', '"Girls Like You"[]', '"Let Her Go"[]', '"Mi Gente"[]', '"Wheels on the Bus"[]',
 '"Hello"[]', '"Perfect"[]', '"Waka Waka (This Time for Africa)"[]', '"Axel F"[]']
video_name=[]
for i in video:
    video_name.append(i.replace("[]",""))

In [7]:
#checking for length of each tag
len(rank),len(video_name),len(uploader),len(views_in_billion),len(updated_date)

(30, 30, 30, 30, 30)

In [8]:
#dataframing using pandas
wiki_videos=pd.DataFrame({})
wiki_videos["rank"]=rank
wiki_videos["video_name"]=video_name
wiki_videos["artist"]=uploader
wiki_videos["views(in Billion)"]=views_in_billion
wiki_videos["updated_date"]=updated_date
wiki_videos

,rank,video_name,artist,views(in Billion),updated_date
0,1,"""Baby Shark Dance""",Pinkfong Kids' Songs & Stories,8.43,"June 17, 2016"
1,2,"""Despacito""",Luis Fonsi,7.32,"January 12, 2017"
2,3,"""Shape of You""",Ed Sheeran,5.29,"January 30, 2017"
3,4,"""Johny Johny Yes Papa""",LooLoo Kids,5.22,"October 8, 2016"
4,5,"""See You Again""",Wiz Khalifa,5.08,"April 6, 2015"
5,6,"""Masha and the Bear – Recipe for Disaster""",Get Movies,4.43,"January 31, 2012"
6,7,"""Uptown Funk""",Mark Ronson,4.16,"November 19, 2014"
7,8,"""Gangnam Style""",Psy,4.05,"July 15, 2012"
8,9,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,3.96,"February 27, 2018"
9,10,"""Bath Song""",Cocomelon – Nursery Rhymes,3.94,"May 2, 2018"
10,11,"""Phonics Song with Two Words""",ChuChu TV,3.77,"March 6, 2014"
11,12,"""Sugar""",Maroon 5,3.45,"January 14, 2015"
12,13,"""Sorry""",Justin Bieber,3.43,"October 22, 2015"
13,14,"""Roar""",Katy Perry,3.33,"September 5, 2013"
14,15,"""Dame Tu Cosita""",El Chombo,3.28,"April 5, 2018"
15,16,"""Counting Stars""",OneRepublic,3.27,"May 31, 2013"
16,17,"""Thinking Out Loud""",Ed Sheeran,3.24,"October 7, 2014"
17,18,"""Dark Horse""",Katy Perry,3.05,"February 20, 2014"
18,19,"""Shake It Off""",Taylor Swift,3.05,"August 18, 2014"
19,20,"""Faded""",Alan Walker,3.05,"December 3, 2015"
20,21,"""Lean On""",Major Lazer Official,3.02,"March 22, 2015"
21,22,"""Bailando""",Enrique Iglesias,3.01,"April 11, 2014"
22,23,"""Girls Like You""",Maroon 5,3.01,"May 31, 2018"
23,24,"""Let Her Go""",Passenger,2.97,"July 25, 2012"
24,25,"""Mi Gente""",J Balvin,2.90,"June 29, 2017"
25,26,"""Wheels on the Bus""",Cocomelon – Nursery Rhymes,2.88,"May 24, 2018"
26,27,"""Hello""",Adele,2.83,"October 22, 2015"
27,28,"""Perfect""",Ed Sheeran,2.82,"November 9, 2017"
28,29,"""Waka Waka (This Time for Africa)""",Shakira,2.80,"June 4, 2010"
29,30,"""Axel F""",Crazy Frog,2.77,"June 16, 2009"

# 2. Scrape the details team India’s international fixtures from bcci.tv

***Url = https://www.bcci.tv/***
You need to find following details:
***A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time***

In [77]:
#connecting to web driver
driver=webdriver.Chrome(r"c://chromedriver.exe")

In [78]:
#getting the webpage
driver.get("https://www.bcci.tv/")

In [79]:
#click on international menu
international=driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]")
international.click()
#click on fixture tab in international menu
fixtures=driver.find_element_by_xpath("//div[@class='drop-down__options']/ul/li/a[1]")
fixtures.click()

In [60]:
#scraping text for title column
match_title=[]
for i in driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/strong"):
     match_title.append(i.text)
#scraping text for place column        
place=[]
for i in driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span"):
     place.append(i.text) 
#scraping text for series column        
series=[]
for i in driver.find_elements_by_xpath("//div[@class='fixture__format-strip']/span[2]"):
     series.append(i.text)
#scraping text for date column        
date=[]
for i in driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']"):
     date.append(i.text.replace("\n15:30 IST","")) 
#scraping text for time column        
time=[]
for i in driver.find_elements_by_xpath("//div[@class='fixture__date-details']/span[2]"):
     time.append(i.text)

In [74]:
#removing unwanted text in date list
Date_cric=list(date)
Date=[]
for i in date:
    Date.append(i.replace("\n",","))

In [75]:
#checking for length of all list
len(match_title),len(place),len(series),len(Date),len(time)

(6, 6, 6, 6, 6)

In [76]:
#dataframing using pandas
bcci=pd.DataFrame({})
bcci["match_title"]=match_title
bcci["place"]=place
bcci["series"]=series
bcci["Date"]=Date
bcci["time"]=time
bcci

,match_title,place,series,Date,time
0,Final,"The Ageas Bowl, Southampton",ICC WORLD TEST CHAMPIONSHIP FINAL,"Friday,18,JUNE",15:30 IST
1,1st Test,"Trent Bridge, Nottingham",ENGLAND V INDIA 2021,"Wednesday,04,AUGUST",15:30 IST
2,2nd Test,"Lord's, London",ENGLAND V INDIA 2021,"Thursday,12,AUGUST",15:30 IST
3,3rd Test,"Headingley, Leeds",ENGLAND V INDIA 2021,"Wednesday,25,AUGUST",15:30 IST
4,4th Test,"The Oval, London",ENGLAND V INDIA 2021,"Thursday,02,SEPTEMBER",15:30 IST
5,5th Test,"Old Trafford, Manchester",ENGLAND V INDIA 2021,"Friday,10,SEPTEMBER",15:30 IST

# 3. Scrape the details of selenium exception from guru99.com.

***Url = https://www.guru99.com/***

You need to find following details:
***A) Name
B) Description***

In [4]:
#connecting to web driver
driver=webdriver.Chrome(r"c://chromedriver.exe")

In [5]:
#getting the webpage
driver.get("https://www.guru99.com/")

In [9]:
#clicking selenium name in testing tab
selenium=driver.find_elements_by_xpath("//*[@id='java_technologies']/li[3]/a")
for i in selenium:
    if i.text=='Selenium':
        i.click()
        break

In [11]:
#clicking Selenium Exception Handling (Common Exceptions List)  tab
Exception=driver.find_elements_by_xpath("//*[@id='g-mainbar']/div/div/div/div/div/div/div[2]/table[5]/tbody/tr[34]/td[1]/a/strong")
for i in Exception:
    if i.text=='Tutorial':
        i.click()
        break

In [12]:
#scraping text for rank column
name=[]
for i in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]"):
    name.append(i.text)
#scraping text for description column    
description=[]
for i in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]"):
    description.append(i.text)

In [18]:
len(name),len(description)

(42, 42)

In [19]:
#dataframing using pandas
selenium=pd.DataFrame({})
selenium["Exception Name"]=name[1:]
selenium["Description"]=description[1:]
selenium

,Exception Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

# 4. Scrape the details of State-wise GDP of India from statisticstime.com.

***Url = http://statisticstimes.com/***
You have to find following details:
***A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)***

In [60]:
#connecting to web driver
driver=webdriver.Chrome(r"c://chromedriver.exe")

In [54]:
#getting the webpage
driver.get("http://statisticstimes.com/")

In [55]:
#clicking economy tab
economy=driver.find_element_by_xpath("//*[@id='top']/div[2]/div[2]/button")
economy.click()
#clicking on Indian Tab
india=driver.find_element_by_xpath("//*[@id='top']/div[2]/div[2]/div/a[3]")
india.click()

In [56]:
#clicking on GDP of Indian states
indian_states=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
indian_states.click()

In [57]:
#scraping text for rank column
rank=[]
for i in driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[1]"):
    rank.append(i.text)
#scraping text for state column    
states=[]
for i in driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[2]"):
    states.append(i.text) 
#scraping text for GSDP(19-20) column    
GSDP_19_20=[]
for i in driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[3]"):
    GSDP_19_20.append(i.text) 
#scraping text for GSDP(18-19) column     
GSDP_18_19=[]
for i in driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[4]"):
    GSDP_18_19.append(i.text) 
#scraping text for share column    
share=[]
for i in driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[5]"):
    share.append(i.text)
#scraping text for GDP($ billion) column    
gdp_billion=[]
for i in driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[6]"):
    gdp_billion.append(i.text)

In [58]:
#checking for length 
len(rank),len(states),len(GSDP_19_20),len(GSDP_18_19),len(share),len(gdp_billion)

(33, 33, 33, 33, 33, 33)

In [59]:
#dataframing using pandas
GDP=pd.DataFrame({})
GDP["Rank"]=rank
GDP["states"]=states
GDP["GSDP(19_20)"]=GSDP_19_20
GDP["GSDP(18_19)"]=GSDP_18_19
GDP["Share"]=share
GDP["GDP in $billion"]=gdp_billion
GDP

,Rank,states,GSDP(19_20),GSDP(18_19),Share,GDP in $billion
0,1,Maharashtra,-,"2,632,792",13.88%,398.145
1,2,Tamil Nadu,"1,845,853","1,630,208",8.59%,246.529
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.35%,239.656
3,4,Gujarat,-,"1,502,899",7.92%,227.276
4,5,Karnataka,"1,631,977","1,493,127",7.87%,225.798
5,6,West Bengal,"1,253,832","1,089,898",5.75%,164.820
6,7,Rajasthan,"1,020,989","942,586",4.97%,142.543
7,8,Andhra Pradesh,"972,782","862,957",4.55%,130.501
8,9,Telangana,"969,604","861,031",4.54%,130.210
9,10,Madhya Pradesh,"906,672","809,592",4.27%,122.431
10,11,Kerala,-,"781,653",4.12%,118.206
11,12,Delhi,"856,112","774,870",4.08%,117.180
12,13,Haryana,"831,610","734,163",3.87%,111.024
13,14,Bihar,"611,804","530,363",2.80%,80.204
14,15,Punjab,"574,760","526,376",2.77%,79.601
15,16,Odisha,"521,275","487,805",2.57%,73.768
16,17,Assam,-,"315,881",1.67%,47.769
17,18,Chhattisgarh,"329,180","304,063",1.60%,45.982
18,19,Jharkhand,"328,598","297,204",1.57%,44.945
19,20,Uttarakhand,-,"245,895",1.30%,37.186
20,21,Jammu & Kashmir,-,"155,956",0.82%,23.584
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.265
22,23,Goa,"80,449","73,170",0.39%,11.065
23,24,Tripura,"55,984","49,845",0.26%,7.538
24,25,Chandigarh,-,"42,114",0.22%,6.369
25,26,Puducherry,"38,253","34,433",0.18%,5.207
26,27,Meghalaya,"36,572","33,481",0.18%,5.063
27,28,Sikkim,"32,496","28,723",0.15%,4.344
28,29,Manipur,"31,790","27,870",0.15%,4.215
29,30,Nagaland,-,"27,283",0.14%,4.126
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.721
31,32,Mizoram,"26,503","22,287",0.12%,3.370
32,33,Andaman & Nicobar Islands,-,-,-,-

# 5. Scrape the details of trending repositories on Github.com.

***Url = https://github.com/***


You have to find the following details:
***A) Repository title
B) Repository description
C) Contributors count
D) Language used***

In [8]:
#connecting to web driver
driver=webdriver.Chrome(r"c://chromedriver.exe")

In [9]:
#getting the webpage
driver.get("https://github.com/")

In [10]:
#clicking on explore menu
explore=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary")
explore.click()

In [11]:
#clicking trending menu in explore
trending=driver.find_element_by_xpath("//ul[@class='list-style-none mb-3']/li[3]/a")
trending.click()

In [17]:
#scraping text for title column
title=[]
for i in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']"):
    title.append(i.text)
#scraping text for description column    
description=[]
for i in driver.find_elements_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']"):
    description.append(i.text)
description.insert(1,"-")   
#scraping text for contribution column
contribution=[]
for i in driver.find_elements_by_xpath("//div[@class='f6 color-text-secondary mt-2']/a[2]"):
    contribution.append(i.text)
#scraping text for language column    
language=[]
language_tag=driver.find_elements_by_xpath("//span[@class='d-inline-block ml-0 mr-3']")
for i in language_tag:
    if i.text is None :
        language.append("--") 
    else:
        language.append(i.text)  
description.insert(6,"--")
language.insert(9,"--")
language.insert(11,"--")
language.insert(14,"--")
language.insert(18,"--")
language.insert(21,"--")

In [18]:
#checking for equal length
len(title),len(description),len(contribution),len(language)

(25, 25, 25, 25)

In [19]:
#dataframing using pandas
github=pd.DataFrame({})
github["title"]=title
github["description"]=description
github["contribution"]=contribution
github["language"]=language
github

,title,description,contribution,language
0,pallupz / covid-vaccine-booking,This very basic script can be used to automate...,125,Python
1,slidevjs / slidev,-,71,TypeScript
2,Uniswap / uniswap-v3-core,Presentation Slides for Developers (Public Bet...,152,TypeScript
3,pixie-labs / pixie,🦄 🦄 🦄 Core smart contracts of Uniswap v3,54,C++
4,flutter / flutter,Instant Kubernetes-Native Application Observab...,"17,064",Dart
5,axios / axios,Flutter makes it easy and fast to build beauti...,"8,149",JavaScript
6,andymatuschak / orbit,--,18,TypeScript
7,dogecoin / dogecoin,Promise based HTTP client for the browser and ...,"1,559",C++
8,abuanwar072 / Flutter-Responsive-Admin-Panel-o...,very currency,179,Dart
9,jlevy / the-art-of-command-line,Responsive Admin Panel or Dashboard using Flutter,"9,806",--
10,public-apis / public-apis,"Master the command line, in one page","14,984",Python
11,jwasham / coding-interview-university,A collective list of free APIs,"46,260",--
12,kcp-dev / kcp,A complete computer science study plan to beco...,29,Go
13,LeCoupa / awesome-cheatsheets,kcp is a prototype of a Kubernetes API server ...,"3,169",JavaScript
14,trimstray / the-book-of-secret-knowledge,👩‍💻👨‍💻 Awesome cheatsheets for popular program...,"4,158",--
15,seemoo-lab / openhaystack,"A collection of inspiring lists, manuals, chea...",71,Swift
16,vinta / awesome-python,Build your own 'AirTags' 🏷 today! Framework fo...,"18,935",Python
17,Azure / counterfit,"A curated list of awesome Python frameworks, l...",24,Python
18,imarvinle / awesome-cs-books,a CLI that provides a generic automation layer...,681,--
19,audacity / audacity,经典编程书籍大全，涵盖：计算机系统与网络、系统架构、算法与数据结构、前端开发、后端开发、移动...,"1,038",C
20,Uniswap / uniswap-v3-periphery,Audio Editor,75,TypeScript
21,itdevbooks / pdf,🦄 🦄 🦄 Peripheral smart contracts for interacti...,"2,140",--
22,tokio-rs / console,编程电子书，电子书，编程书籍，包括C，C#，Docker，Elasticsearch，Git...,3,Rust
23,alibaba / DataX,tokio-console prototypes,"3,136",Java
24,storybookjs / storybook,"📓 The UI component explorer. Develop, document...","6,095",TypeScript

# 6. Scrape the details of top 100 songs on billiboard.com.

***Url = https://www.billboard.com/***

You have to find the following details:
***A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board***

In [38]:
#connecting to web driver
driver=webdriver.Chrome(r"c://chromedriver.exe")

In [39]:
#getting the webpage
driver.get("https://www.billboard.com/")

In [40]:
#clicking chart tab
chart=driver.find_element_by_xpath("//*[@id='root']/div[2]/div[2]/header/div/ul/li[1]/a")
chart.click()

In [42]:
#clicking on the hot 100 chart
chart=driver.find_element_by_xpath("//div[@class='charts-landing__info--view-chart']")
chart.click()

In [17]:
#scraping text for column song name
song_name=[]
for i in driver.find_elements_by_xpath("//span[@class='chart-element__information']/span[1]"):
    song_name.append(i.text)
#scraping text for column artist    
artist_name=[]
for i in driver.find_elements_by_xpath("//span[@class='chart-element__information']/span[2]"):
    artist_name.append(i.text)  
#scraping text for column rank of last week    
last_week_rank=[]
for i in driver.find_elements_by_xpath("//div[@class='chart-element__metas chart-element__metas--large display--flex flex--y-center']/div[2]"):
    last_week_rank.append(i.text)
#scraping text for column peak rank    
peak_rank=[]
for i in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']"):
    peak_rank.append(i.text)  
#scraping text for column weeks on board    
week_on_board=[]
for i in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']"):
    week_on_board.append(i.text)

In [55]:
#checking f0r equal length
len(song_name),len(artist_name),len(last_week_rank),len(peak_rank),len(week_on_board)

(100, 100, 100, 100, 100)

In [57]:
#dataframing using pandas
songs_100=pd.DataFrame({})
songs_100["song_name"]=song_name
songs_100["artist_name"]=artist_name
songs_100["last_week_rank"]=last_week_rank
songs_100["peak_rank"]=peak_rank
songs_100["week_on_board"]=week_on_board
songs_100

,song_name,artist_name,last_week_rank,peak_rank,week_on_board
0,Rapstar,Polo G,1,1,2
1,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),3,1,7
2,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,4,1,5
3,Montero (Call Me By Your Name),Lil Nas X,1,1,4
4,Levitating,Dua Lipa Featuring DaBaby,6,5,29
...,...,...,...,...,...
95,Go!,Moneybagg Yo Featuring BIG30,-,96,1
96,Drankin N Smokin,Future & Lil Uzi Vert,-,31,12
97,Monsters,All Time Low Featuring Demi Lovato & blackbear,55,55,17
98,Slatty,Young Thug & Gunna Featuring Yak Gotti & Lil Duke,-,99,1
99,4 Da Gang,42 Dugg & Roddy Ricch,67,67,3

# 7. Scrape the details of Data science recruiters from naukri.com.

***Url = https://www.naukri.com/***

***You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location***

In [92]:
#connecting to web driver
driver=webdriver.Chrome(r"c://chromedriver.exe")

In [93]:
#getting the webpage
driver.get("https://www.naukri.com/")

In [94]:
#clicking on recruiters option
recruit=driver.find_element_by_xpath("//*[@id='root']/div[1]/div/ul[1]/li[2]/a")
recruit.click()

In [95]:
#switching between windows
driver.switch_to_window(driver.window_handles[1])

<ipython-input-95-6c6d5ce6602d>:1: DeprecationWarning: use driver.switch_to.window instead
  driver.switch_to_window(driver.window_handles[1])

In [96]:
#enter keyword Datascience in search bar
search_job=driver.find_element_by_xpath("//*[@id='skill']/div[1]/div[2]/input")
search_job.send_keys("Data Science")
#clicking on search button
search_button=driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")
search_button.click()

In [98]:
#scraping text for column name
name=[]
for i in driver.find_elements_by_xpath("//span[@class='fl ellipsis']"):
    name.append(i.text)
#scraping text for column designation    
designation=[]
for i in driver.find_elements_by_xpath("//span[@class='ellipsis clr']"):
    designation.append(i.text)
#scraping text for  column company    
company=[]
for i in driver.find_elements_by_xpath("//p[@class='highlightable']/a[2]"):
    company.append(i.text)
#scraping text for column skills    
skills=[]
for i in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']"):
    skills.append(i.text)
#scraping text for column location    
location=[]
for i in driver.find_elements_by_xpath("//small[@class='ellipsis']"):
    location.append(i.text)
location.insert(28,"--")
location.insert(46,"--")

In [99]:
len(name),len(designation),len(company),len(skills),len(location)

(50, 50, 50, 50, 50)

In [100]:
#dataframing using pandas
ds_recruiters=pd.DataFrame({})
ds_recruiters["name"]=name
ds_recruiters["designation"]=designation
ds_recruiters["company"]=company
ds_recruiters["skills"]=skills
ds_recruiters["location"]=location
ds_recruiters

,name,designation,company,skills,location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,Talent Acquisition Executive,Recruitment Professional,XenonStack,"Web Designing, html5, Angular.js, seo, hadoop,...",Chandigarh
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
5,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
6,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
7,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
8,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
9,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
10,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Nagpur
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
17,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
18,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
19,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
20,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
21,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
22,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
23,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",--
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
31,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
32,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
33,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
34,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
35,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
36,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
37,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
38,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
39,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
40,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
41,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
42,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
43,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
44,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
45,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
46,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",--
47,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Noida
48,Sunny Sharma,Managing Director - HR,Western Service Providers,"Software Professionals, Engineering, Technical...",Mumbai
49,Sagar Lama,Company HR Manager,AdView,"Full Stack Developers, Product Manager, Data S...",Bengaluru / Bangalore

# 8. Scrape the details of Highest selling novels.

***Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/***

You have to find the following details:
***A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre***

In [101]:
#connecting to web driver
driver=webdriver.Chrome(r"c://chromedriver.exe")

In [102]:
#getting the webpage
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [107]:
#scraping text for column book name
book_name=[]
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]"):
    book_name.append(i.text)
#scraping text for column author name    
author_name=[]
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]"):
    author_name.append(i.text)
#scraping text for column volumn sold    
volume_sold=[]
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]"):
    volume_sold.append(i.text)
#scraping text for column publishers    
publisher=[]
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]"):
    publisher.append(i.text)
#scraping text for column genre    
genre=[]
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]"):
    genre.append(i.text)

In [108]:
#checking for equal length in each list
len(book_name),len(author_name),len(volume_sold),len(publisher),len(genre)

(100, 100, 100, 100, 100)

In [109]:
#dataframing using pandas
best_selling_books=pd.DataFrame({})
best_selling_books["book_name"]=book_name
best_selling_books["author_name"]=author_name
best_selling_books["volume_sold"]=volume_sold
best_selling_books["publisher"]=publisher
best_selling_books["genre"]=genre
best_selling_books

,book_name,author_name,volume_sold,publisher,genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 9. Scrape the details most watched tv series of all time from imdb.com.

***Url = https://www.imdb.com/list/ls095964455/***
You have to find the following details:
***A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes***

In [139]:
#connecting to web driver
driver=webdriver.Chrome(r"c://chromedriver.exe")

In [140]:
#getting the webpage
driver.get("https://www.imdb.com/list/ls095964455/")

In [141]:
#scraping text for column name
name=[]
for i in driver.find_elements_by_xpath("//div[@class='lister-item-content']/h3/a"):
    name.append(i.text)
#scraping text for column year span    
year_span=[]
for i in driver.find_elements_by_xpath("//div[@class='lister-item-content']/h3/span[2]"):
    year_span.append(i.text)  
#scraping text for column Genre    
genre=[]
for i in driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[5]"):
    genre.append(i.text) 
#scraping text for column run time    
run_time=[]
for i in driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[3]"):
    run_time.append(i.text)  
#scraping text for column ratings    
ratings=[]
for i in driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]"):
    ratings.append(i.text) 
#scraping text for column votes    
votes=[]
for i in driver.find_elements_by_xpath("//div[@class='lister-item-content']/p[4]/span[2]"):
    votes.append(i.text)

In [145]:
len(name),len(ratings),len(run_time),len(genre),len(year_span),len(votes)

(100, 100, 100, 100, 100, 100)

In [144]:
#dataframing using pandas
imdb=pd.DataFrame({})
imdb["Series name"]=name
imdb["ratings"]=ratings
imdb["run time"]=run_time
imdb["genre"]=genre
imdb["year span"]=year_span
imdb["votes"]=votes
imdb

,Series name,ratings,run time,genre,year span,votes
0,Game of Thrones,9.3,57 min,"Action, Adventure, Drama",(2011–2019),"1,800,650"
1,Stranger Things,8.7,51 min,"Drama, Fantasy, Horror",(2016– ),"846,199"
2,The Walking Dead,8.2,44 min,"Drama, Horror, Thriller",(2010–2022),"867,148"
3,13 Reasons Why,7.6,60 min,"Drama, Mystery, Thriller",(2017–2020),"259,966"
4,The 100,7.6,43 min,"Drama, Mystery, Sci-Fi",(2014–2020),"220,898"
...,...,...,...,...,...,...
95,Reign,7.5,42 min,"Drama, Fantasy",(2013–2017),"44,184"
96,A Series of Unfortunate Events,7.8,50 min,"Adventure, Comedy, Drama",(2017–2019),"54,628"
97,Criminal Minds,8.1,42 min,"Crime, Drama, Mystery",(2005–2020),"165,228"
98,Scream: The TV Series,7.2,45 min,"Comedy, Crime, Drama",(2015–2019),"34,547"
99,The Haunting of Hill House,8.6,572 min,"Drama, Horror, Mystery",(2018),"187,836"

# 10. Details of Datasets from UCI machine learning repositories.

***Url = https://archive.ics.uci.edu/***
You have to find the following details:
***A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year***

In [3]:
#connecting to web driver
driver=webdriver.Chrome(r"c://chromedriver.exe")

In [14]:
#getting the webpage
driver.get("https://archive.ics.uci.edu/ml/index.php")

In [15]:
#click on view all dataset
view_all=driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td/span/b/a")
view_all.click()

In [18]:
#scraping text for column dataset name
dataset_name=[]
for i in driver.find_elements_by_xpath("//p[@class='normal']/b"):
    dataset_name.append(i.text)
#scraping text for column data type    
data_type=[]
for i in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table/tbody/tr/td[2]"):
    data_type.append(i.text)   
#scraping text for column task    
task=[]
for i in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table/tbody/tr/td[3]"):
    task.append(i.text)   
 #scraping text for column Attribute type   
attribute_type=[]
for i in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table/tbody/tr/td[4]"):
    attribute_type.append(i.text)
#scraping text for column number of instance    
No_of_instances=[]
for i in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table/tbody/tr/td[5]"):
    No_of_instances.append(i.text)
#scraping text for column Attributes    
attributes=[]
for i in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table/tbody/tr/td[6]"):
    attributes.append(i.text)
#scraping text for column year    
year=[]
for i in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table/tbody/tr/td[7]"):
    year.append(i.text)
data_type=data_type[2:]
task=task[1:]
attribute_type=attribute_type[1:]
No_of_instances=No_of_instances[1:]
attributes=attributes[1:]
year=year[1:]

In [19]:
len(dataset_name),len(data_type),len(task),len(attribute_type),len(No_of_instances),len(attributes),len(year)

(585, 585, 585, 585, 585, 585, 585)

In [20]:
#dataframing using pandas
uci_ml=pd.DataFrame({})
uci_ml["dataset_name"]=dataset_name
uci_ml["data_type"]=data_type
uci_ml["task"]=task
uci_ml["attribute_type"]=attribute_type
uci_ml["No_of_instances"]=No_of_instances
uci_ml["attributes"]=attributes
uci_ml["year"]=year
uci_ml

,dataset_name,data_type,task,attribute_type,No_of_instances,attributes,year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
580,Wisesight Sentiment Corpus,"Multivariate, Text",Classification,,26737,4,2020
581,AI4I 2020 Predictive Maintenance Dataset,"Multivariate, Time-Series","Classification, Regression, Causal-Discovery",Real,10000,14,2020
582,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,17,2020
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020